.paged-category-list-item .slick-track {
  margin-left: 0;
}

.paged-category-list-item .slick-slide {
  cursor: grab;
}

.slider__link {
  display: block;
  height: 80%;
  margin: auto;
  width: 80%;
}

.slider__link__image {
  height: 100%;
  width: 100%;
}
